*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #1b1b1b;
    font-family: 'Shantell Sans', cursive;
}
button{
    font-family: 'Shantell Sans', cursive;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content{
    width: 70%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

#header{
    background:#c6c6c636 ;
    width: 35%;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3);
}
#constraction{
    padding: 4px;
}
#grid-container{
    width: 30%;
    background-color: #f0db4f;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    border: 7px solid #4d4d4d;
    border-radius: 15px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.7);
    aspect-ratio: 1; 
}
.square{
padding: 20px;
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 0.4s;
}
.square:hover{
    background-color:#c6b439;
}
/* .square-contnet{
    width: 40px;
    height: 40px;
    font-size: 40px;
} */

#reset-btn{   
    outline: none;
    border: none;
    background: rgb(84, 60, 172);
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
#reset-btn:hover{
    background-color: rgb(137, 105, 240);
}